@page
@model FlaglerBookSwap.Pages.Account.ProfileListingModel
@{
    ViewData["Title"] = "Your Current Listings";
}
<body class="account-container">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <div class="account-content">
        <p>Your listings will appear here.</p>
    </div>
    <div class="account-box">
        <table class="table">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Edition</th>
                    <th>Asking price</th>
                    <th>Date Listed</th>
                </tr>
            </thead>
            <!--  <input type="submit" value="Hide Listing" class="btn btn-outline-dark" /> -->
        </table>


        @foreach (var listing in Model.ListingInfo)
        {
            <li class="list-group-item">
                @listing.Textbooks.Book_Title
                @listing.edition
                @listing.price
                @listing.date_listed
            </li>

        }
    </div>
</body>
