@page
@model FlaglerBookSwap.Pages.Account.ProfileListingModel
@{
    ViewData["Title"] = "Your Current Listings";
}
<body class="account-container">
    <div class="text-center">
        <h1 class="display-4 header-font">@ViewData["Title"]</h1>
    </div>
    <div class="account-box">
        <table class="table">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Edition</th>
                    <th>Asking price</th>
                    <th>Date Listed</th>
                </tr>
            </thead>
            <!--  <input type="submit" value="Hide Listing" class="btn btn-outline-dark" /> -->
        </table>


        @foreach (var listing in Model.ListingInfo)
        {
            if (listing.list_status == true)
            {
            <li class="list-group-item">
                @listing.Textbooks.Book_Title
                @listing.edition
                @listing.price
                @listing.date_listed
                <form method="post" asp-page-handler="DeleteListing" asp-route-ListingID="@listing.ListingID">
                    <input type="submit" value="Hide Listing" class="btn btn-outline-dark" />
                </form>
                    <a asp-page="/Search & List/EditListing" asp-route-ListingId="@listing.ListingID">
                        Edit Listing
                    </a>
            </li>
            }
        }
    </div>
</body>
