@page
@using FlaglerBookSwap.Models
@using FlaglerBookSwap.Pages
@model FlaglerBookSwap.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<body class="Page-Color">
<div class="text-center">
    <h1 class="display-4 header-font">@ViewData["Title"]</h1>
</div>

<p>We created this to help students get rid of their old textbooks by giving them a platform to trade or sell </p>

<h2>Textbooks List</h2>

@if (Model.Textbooks == null || !Model.Textbooks.Any())  
{
    <p>No textbooks found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var textbook in Model.Textbooks) 
            {
                <tr>
                    <td>@textbook.Book_Title</td>
                    <td>@textbook.ISBN</td>
                    <td>@textbook.Authors</td> 
                </tr>
            }
    
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Course Code</th>
                <th>Term</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var courses in Model.Courses)
            {
                <tr>
                    <td>@courses.course_title</td>
                    <td>@courses.course_code</td>
                    <td>@courses.term</td>
                </tr>
            }

        </tbody>
    </table>

}
</body>